name: tests

on:
  push:
  pull_request:

jobs:
  pytest:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip

      - name: Install
        run: |
          python -m pip install -U pip
          python -m pip install -e ".[dev]"
        # If you don't have extras, replace the last line with:
        # python -m pip install -e . pytest pytest-cov

      - name: Run tests
        run: |
          pytest --cov=gpsmax --cov-report=term-missing